# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
.idea/
.vscode/
bin/
.project
allure-report/
allure-results/
.allure/
.DS_Store
.classpath
.settings
logs/
*.log
*.DS_Store
*.apk
settings.gradle